:root{
    --accordionFontSize: 1rem;
}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_section{
    justify-content: center;
    background-color: blue;
}

.work_section{
    background-color: red;
}

.work_section > .col-10{
    padding-top: 4rem;
}

.projects_para{
    text-align: start;
}

.social_container{
    display: flex;
}

.social_container > a{
    margin: 0 0.5rem;
}

p{
    text-align: center;
}

p, a{
    font-size: 1.5em;
}

button.accordion-button{
    font-size: var(--accordionFontSize);
    flex-wrap: wrap;
}

.card{
    margin-bottom: 1rem;
}

.project_bttn.btn-primary{
    background-color: #F7F7F7;
    color: black;
    border: none;
}

.iconify.iconify--ic{
    width: 5rem;
    margin-left: 1rem;
}

.games_accordion_item{
    margin-top: 2rem;
}

@media only screen and (max-width: 425px) {
    :root{
        --accordionFontSize:1.25rem;
    }
}


