:root{
    --accordionFontSize: 1rem;
}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_section{
    justify-content: center;
}

.work_section > .col-10{
    padding-top: 4rem;
}

.projects_para{
    text-align: start;
    color: black;
}

.social_container{
    display: flex;
    font-size: 1.5rem;
}

.social_container > a{
    margin: 0 2rem;
}

p{
    text-align: center;
}

p,.resume_link{
    font-size: 1.5em;
}

#left_column > p,.resume_link,svg{
    color: white;
}

button.accordion-button{
    font-size: var(--accordionFontSize);
    flex-wrap: wrap;
}

.card{
    margin-bottom: 1rem;
}

.project_bttn.btn-primary{
    background-color: white;
    color: black;
    
}

.games_accordion_item{
    margin-top: 2rem;
}

#left_column{
    background-image: url("../img/forestBackground.jpg");
}

#left_column p,a{
    color: white;
}

#right_column{
    background-color: #EEEEEE;
    max-height: 100vh;
}

.work_section{
    overflow: auto;
}

@media only screen and (max-width: 425px) {
    :root{
        --accordionFontSize:1.25rem;
    }
    #left_column{
        height: 80vh;
    }
}


